$defaultColor:#26baee;
$defaultActiveColor:#1d97c1;
$primaryColor:#26baee;
$primaryActiveColor:#53cde2;
$successColor:#d1f6c1;
$successActiveColor:#6effbf;
$warningColor:#f8b500;
$warningActiveColor:#f1c550;
$dangerColor:#ff5959;
$dangerActiveColor:#e00543;