$infoColor:#5c6c71;
$defaultColor:#26baee;
$defaultActiveColor:#cef3ff;
$primaryColor:#26baee;
$primaryActiveColor:#53cde2;
$successColor:#67c23a;
$successActiveColor:#7ce249;
$warningColor:#f8b500;
$warningActiveColor:#f1c550;
$dangerColor:#ff5959;
$dangerActiveColor:#e00543;